.profile__container {
  /* margin-top: 6rem; */
  margin-right: 6rem;
  margin-left: 6rem;
}

/* * {
    box-sizing: border-box;
} */

.profile__container__main {
  margin-top: 2rem;

  width: 100%;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.profile__container__main-banner {
  border-radius: 25px 25px 0 0;

  /* min-width: 100%; */
  min-height: 12rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__container__main-content {
  position: relative;
}

.profile__container__main-content-avatar {
  top: -5rem;
  right: 2rem;
  /* object-fit: cover; */
  position: absolute;
  width: 165px;
  height: 165px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.profile__container__main-content-top {
  display: flex;

  /* align-items: center; */
  /* justify-content: space-around; */
}

.profile__container__main-content-top-name {
  margin-top: 1rem;
  margin-right: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile__container__main-content-top-name h2 h3 {
  font-family: var(--font-family);
}

.profile__container__main-content-top-name h2 {
  font-size: 28px;
}

.profile__container__main-content-top-name h3 {
  color: #3b3b3b;
  font-size: 24px;
}

.profile__container__main-content-top-pricing {
  margin-top: 2.5rem;
  margin-left: 2rem;
  margin-right: auto;
  height: 2.8rem;

  /* padding: 1.5rem 2rem; */
  border-radius: 25px;

  color: #fff;
}

.profile__container__main-content-top-pricing {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  /* border: 2px solid black; */
}

.profile__container__main-content-top-pricing button {
  flex: 1;
  background-color: #1d1d1d;
  color: #fff;
  font-size: 34px;
  font-family: var(--font-family);

  cursor: pointer;
  text-align: center;
  /* clean mess! */
  border-radius: 25px 0 0 25px;
  padding: 0.75rem 1.5rem;
  padding-top: 0.8rem;
  line-height: 1rem;
  /* margin-right: -0.5rem; */

  border: 1px solid #1d1d1d;
  transition: color 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
}

.profile__container__main-content-top-pricing button:hover {
  background-color: #fff;
  color: #1d1d1d;
  font-weight: 500;
}

.profile__container__main-content-top-pricing-content {
  text-align: center;
  background-color: #fff;
  color: black;
  font-family: var(--font-family);
  margin-right: -5rem;
  font-size: 16px;
  /* padding: 0.73rem 1rem; */
  padding: 0.75rem 1.5rem;
  border-radius: 0 25px 25px 0;
  line-height: 1rem;
  border: 2px solid black;
}

.profile__container__main-content-top-pricing-content span {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
}

.profile__container__main-content-bottom {
  margin-top: 3rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  margin-left: 2rem;
  /* height: auto; */
  font-size: 24px;
  line-height: 2rem;
  font-family: var(--font-family);
}

@media screen and (max-width: 1300px) {
  .profile__container__main-content-top-name h2 {
    font-size: 22px;
  }

  .profile__container__main-content-top-name h3 {
    color: #3b3b3b;
    font-size: 18px;
  }

  .profile__container__main-content-top-pricing button {
    font-size: 25px;
    padding: 0.7rem 1rem;
    /* padding-top: 0.8rem; */
    line-height: 1rem;
    /* margin-right: -0.5rem; */
    /* border: none; */
  }

  .profile__container__main-content-top-pricing-content span {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 600;
  }

  .profile__container__main-content-top-pricing-content {
    font-size: 14px;
    font-weight: 700;
    padding: 0.7rem 1rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  .profile__container {
    /* margin-top: 6rem; */
    margin-right: 4rem;
    margin-left: 4rem;
  }

  .profile__container__main-content-top-name h2 {
    font-size: 18px;
  }

  .profile__container__main-content-top-name h3 {
    font-size: 14px;
  }

  .profile__container__main-content-top-pricing button {
    font-size: 15px;
    /* padding: 0.3rem 2rem; */
    display: block;
    border-radius: 0;
    width: 12rem;
    border-radius: 15px 15px 0 0;
    /* padding-top: 0.8rem; *
        ;
        line-height: 1rem;
        /* margin-right: -0.5rem; */
    /* border: none; */
  }

  .profile__container__main-content-top-pricing-content span {
    font-size: 18px;
    font-weight: 600;
  }

  .profile__container__main-content-top-pricing-content {
    font-size: 14px;
    font-weight: 700;
    width: 12rem;
    /* padding: 0.3rem 2rem; */
    border-radius: 0 0 15px 15px;
    line-height: 1rem;
    display: block;
  }

  .profile__container__main-content-top-pricing {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 2rem;
    /* justify-content: start; */
    /* width: 6rem; */

    /* border: 2px solid black; */
  }

  .profile__container__main-content-avatar {
    top: -4rem;
    right: 2rem;

    width: 100px;
    height: 100px;
  }

  .profile__container__main-content-top-name {
    margin-top: 3rem;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .profile__container__main-content-bottom {
    margin-top: 3rem;
    font-size: 20px;
  }
}

@media screen and (max-width: 700px) {
  .profile__container {
    /* margin-top: 6rem; */
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .profile__container__main-banner {
    border-radius: 25px 25px 0 0;

    /* min-width: 100%; */
    min-height: 8rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 550px) {
  .profile__container__main-content-top-pricing button {
    font-size: 12px;
    /* padding: 0.3rem 2rem; */
    display: block;
    border-radius: 0;
    width: 8rem;
    border-radius: 15px 15px 0 0;
    /* padding-top: 0.8rem; *
        ;
        line-height: 1rem;
        /* margin-right: -0.5rem; */
    /* border: none; */
  }

  .profile__container__main-content-top-pricing-content {
    font-size: 10px;
    font-weight: 900;
    width: 8rem;
    /* padding: 0.3rem 2rem; */
    border-radius: 0 0 15px 15px;
    padding: 0.2rem 1.5rem;
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .profile__container {
    /* margin-top: 6rem; */
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  .profile__container__main-content-top-name h2 {
    font-size: 16px;
  }

  .profile__container__main-content-top-name h3 {
    color: #3b3b3b;
    font-size: 12px;
  }

  .profile__container__main-content-top-pricing button {
    font-size: 10px;
    /* padding: 0.3rem 2rem; */
    display: block;

    width: 7rem;
    border-radius: 15px 15px 0 0;
    /* padding-top: 0.8rem; *
        ;
        line-height: 1rem;
        /* margin-right: -0.5rem; */
    /* border: none; */
  }

  .profile__container__main-content-top-pricing-content {
    font-size: 9px;
    font-weight: 900;
    width: 7rem;

    /* padding: 0.3rem 2rem; */
    border-radius: 0 0 15px 15px;
    padding: 0rem 1.5rem;
    display: block;
  }

  .profile__container__main-content-avatar {
    top: -3rem;
    right: 2rem;

    width: 80px;
    height: 80px;
  }
}

/* @media screen and (max-width: 350px) {
    .profile__container {

        margin-right: 0.2rem;
        margin-left: 0.2rem;

    }

    .profile__container__main-content-top-name h2 {
        font-size: 14px;
    }

    .profile__container__main-content-top-name h3 {
        color: #3b3b3b;
        font-size: 10px;
    }

    .profile__container__main-content-top-pricing button {
        font-size: 8px;
       
        display: block;
        border-radius: 0;
        width: 5rem;
        border-radius: 15px 15px 0 0;
        
    }

    .profile__container__main-content-top-pricing-content {
        font-size: 8px;
        font-weight: 900;
        width: 5rem;

     
        border-radius: 0 0 15px 15px;
        padding: 0rem 1.5rem;
        display: block;
    }


} */
